/****** Object:  Database [BD_INKACAO]    Script Date: 09/11/2025 22:17:50 ******/
CREATE DATABASE [BD_INKACAO]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'S0', MAXSIZE = 250 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** Los scripts de las configuraciones con ámbito de base de datos en Azure deben ejecutarse dentro de la conexión de base de datos de destino. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Schema [sch_seguridad]    Script Date: 09/11/2025 22:17:50 ******/
CREATE SCHEMA [sch_seguridad]
GO
/****** Object:  Table [dbo].[area_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[area_mae](
	[pk_are_id] [int] IDENTITY(1,1) NOT NULL,
	[fk_cen_id] [int] NOT NULL,
	[fk_are_id_pdr] [int] NULL,
	[cod_sis_old_c] [varchar](10) NULL,
	[nom_c] [varchar](50) NOT NULL,
	[nom_cor_c] [varchar](10) NULL,
	[estado_n] [smallint] NOT NULL,
	[aud_id_usu_cre_n] [int] NOT NULL,
	[aud_fec_cre_f] [datetime2](7) NOT NULL,
	[aud_id_usu_mod_n] [int] NOT NULL,
	[aud_fec_mod_f] [datetime2](7) NOT NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](20) NOT NULL,
	[aud_pc_host_c] [varchar](50) NOT NULL,
	[aud_es_eli_b] [bit] NOT NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[pk_are_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cargo_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cargo_mae](
	[pk_cgo_id] [int] IDENTITY(1,1) NOT NULL,
	[cod_sis_old_c] [varchar](10) NULL,
	[nom_c] [varchar](50) NOT NULL,
	[estado_n] [smallint] NOT NULL,
	[aud_id_usu_cre_n] [int] NOT NULL,
	[aud_fec_cre_f] [datetime2](7) NOT NULL,
	[aud_id_usu_mod_n] [int] NOT NULL,
	[aud_fec_mod_f] [datetime2](7) NOT NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](20) NOT NULL,
	[aud_pc_host_c] [varchar](50) NOT NULL,
	[aud_es_eli_b] [bit] NOT NULL,
 CONSTRAINT [PK_cargo_mae] PRIMARY KEY CLUSTERED 
(
	[pk_cgo_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[centro_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[centro_mae](
	[pk_cen_id] [int] IDENTITY(1,1) NOT NULL,
	[nom_c] [varchar](50) NOT NULL,
 CONSTRAINT [PK_centro_mae] PRIMARY KEY CLUSTERED 
(
	[pk_cen_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cl_ordenes_compra]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cl_ordenes_compra](
	[idOrdenCompra] [int] IDENTITY(1,1) NOT NULL,
	[fechaRegistro] [datetime2](7) NOT NULL,
	[idTipoDocumento] [int] NOT NULL,
	[numeroDocumento] [varchar](20) NOT NULL,
	[idProveedor] [int] NOT NULL,
	[idTipoCompra] [int] NOT NULL,
	[efectivo] [decimal](18, 2) NOT NULL,
	[fechaVencimiento] [datetime2](7) NULL,
	[observacion] [varchar](500) NULL,
	[total] [decimal](18, 2) NOT NULL,
	[estado] [int] NOT NULL,
	[aud_id_usu_cre_n] [int] NULL,
	[aud_fec_cre_f] [datetime2](7) NULL,
	[aud_id_usu_mod_n] [int] NULL,
	[aud_fec_mod_f] [datetime2](7) NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](50) NULL,
	[aud_pc_host_c] [varchar](100) NULL,
	[aud_es_eli_b] [bit] NOT NULL,
 CONSTRAINT [PK_cl_ordenes_compra] PRIMARY KEY CLUSTERED 
(
	[idOrdenCompra] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cl_ordenes_compra_detalle]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cl_ordenes_compra_detalle](
	[idOrdenCompraDetalle] [int] IDENTITY(1,1) NOT NULL,
	[idOrdenCompra] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[cantidad] [decimal](18, 2) NOT NULL,
	[valorVenta] [decimal](18, 2) NOT NULL,
	[igv] [decimal](18, 2) NOT NULL,
	[precioUnitario] [decimal](18, 2) NOT NULL,
	[subTotal] [decimal](18, 2) NOT NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_cl_ordenes_compra_detalle] PRIMARY KEY CLUSTERED 
(
	[idOrdenCompraDetalle] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente_mae](
	[pk_cli_id] [int] IDENTITY(1,1) NOT NULL,
	[fk_tip_doc_id] [int] NOT NULL,
	[numero_documento] [varchar](20) NOT NULL,
	[razon_social] [varchar](200) NOT NULL,
	[direccion] [varchar](300) NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](100) NULL,
	[contacto] [varchar](100) NULL,
	[estado] [smallint] NOT NULL,
	[aud_id_usu_cre_n] [int] NOT NULL,
	[aud_fec_cre_f] [datetime2](7) NOT NULL,
	[aud_id_usu_mod_n] [int] NOT NULL,
	[aud_fec_mod_f] [datetime2](7) NOT NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](20) NOT NULL,
	[aud_pc_host_c] [varchar](50) NOT NULL,
	[aud_es_eli_b] [bit] NOT NULL,
 CONSTRAINT [PK_cliente_mae] PRIMARY KEY CLUSTERED 
(
	[pk_cli_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente_perfil_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente_perfil_mae](
	[idClientePerfil] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idPersona] [int] NOT NULL,
	[aud_id_usu_cre_n] [int] NOT NULL,
	[aud_fec_cre_f] [datetime2](7) NOT NULL,
	[aud_id_usu_mod_n] [int] NOT NULL,
	[aud_fec_mod_f] [datetime2](7) NOT NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](20) NOT NULL,
	[aud_pc_host_c] [varchar](50) NOT NULL,
	[aud_es_eli_b] [bit] NOT NULL,
 CONSTRAINT [PK_cliente_perfil_mae] PRIMARY KEY CLUSTERED 
(
	[idClientePerfil] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compra]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compra](
	[pk_com_id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_documento_id] [int] NULL,
	[ruc] [varchar](15) NULL,
	[razon_social] [varchar](300) NULL,
	[observacion] [varchar](3000) NULL,
	[tipo_compra_id] [int] NULL,
	[total] [decimal](18, 2) NULL,
	[fecha_registro] [datetime] NULL,
	[aud_id_usu_cre_n] [int] NOT NULL,
	[aud_fec_cre_f] [datetime2](7) NOT NULL,
	[aud_id_usu_mod_n] [int] NOT NULL,
	[aud_fec_mod_f] [datetime2](7) NOT NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](20) NOT NULL,
	[aud_pc_host_c] [varchar](50) NOT NULL,
	[aud_es_eli_b] [bit] NOT NULL,
 CONSTRAINT [PK_compra_id] PRIMARY KEY CLUSTERED 
(
	[pk_com_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_compra]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_compra](
	[detalle_venta_id] [int] IDENTITY(1,1) NOT NULL,
	[compra_id] [int] NOT NULL,
	[producto_id] [int] NOT NULL,
	[cantidad] [decimal](18, 2) NULL,
	[precio_venta] [decimal](18, 2) NULL,
	[precio_unitario] [decimal](18, 2) NULL,
	[total] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[detalle_venta_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_mae](
	[pk_est_id] [int] IDENTITY(1,1) NOT NULL,
	[nom_c] [varchar](50) NULL,
	[nom_cor_c] [varchar](10) NULL,
	[aud_id_usu_cre_n] [int] NOT NULL,
	[aud_fec_cre_f] [datetime2](7) NOT NULL,
	[aud_id_usu_mod_n] [int] NOT NULL,
	[aud_fec_mod_f] [datetime2](7) NOT NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](20) NOT NULL,
	[aud_pc_host_c] [varchar](50) NOT NULL,
	[aud_es_eli_b] [bit] NOT NULL,
 CONSTRAINT [PK_estado_mae] PRIMARY KEY CLUSTERED 
(
	[pk_est_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_ope_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_ope_mae](
	[idEstado] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona_mae](
	[pk_per_id] [int] IDENTITY(1,1) NOT NULL,
	[tip_per_id_n] [smallint] NOT NULL,
	[cod_sis_old_c] [varchar](10) NULL,
	[fk_tip_doc_id] [int] NOT NULL,
	[num_doc_c] [varchar](20) NOT NULL,
	[pri_ape_c] [varchar](50) NOT NULL,
	[seg_ape_c] [varchar](50) NOT NULL,
	[pre_nom_c] [varchar](50) NOT NULL,
	[fec_nac_f] [date] NULL,
	[sexo_b] [bit] NOT NULL,
	[correo_per_c] [varchar](50) NULL,
	[aud_id_usu_cre_n] [int] NOT NULL,
	[aud_fec_cre_f] [datetime2](7) NOT NULL,
	[aud_id_usu_mod_n] [int] NOT NULL,
	[aud_fec_mod_f] [datetime2](7) NOT NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](20) NULL,
	[aud_pc_host_c] [varchar](50) NULL,
	[aud_es_eli_b] [bit] NOT NULL,
	[contacto] [varchar](100) NULL,
	[celular] [varchar](15) NULL,
	[codigo_merchant] [varchar](20) NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[pk_per_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto_mae](
	[pk_prod_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_producto] [nvarchar](200) NOT NULL,
	[precio_entrada] [float] NOT NULL,
	[precio_salida] [float] NOT NULL,
	[stock] [int] NOT NULL,
	[estado] [int] NOT NULL,
	[aud_id_usu_cre_n] [int] NULL,
	[aud_fec_cre_f] [datetime] NULL,
	[aud_id_usu_mod_n] [int] NULL,
	[aud_fec_mod_f] [datetime] NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime] NULL,
	[aud_pc_ip_c] [nvarchar](50) NULL,
	[aud_pc_host_c] [nvarchar](100) NULL,
	[aud_es_eli_b] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pk_prod_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor_mae](
	[pk_prov_id] [int] IDENTITY(1,1) NOT NULL,
	[ruc] [varchar](11) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[direccion] [varchar](300) NULL,
	[telefono] [int] NULL,
	[correo] [varchar](200) NULL,
	[contacto] [varchar](100) NULL,
	[estado] [int] NOT NULL,
	[aud_id_usu_cre_n] [int] NULL,
	[aud_fec_cre_f] [datetime] NULL,
	[aud_id_usu_mod_n] [int] NULL,
	[aud_fec_mod_f] [datetime] NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime] NULL,
	[aud_pc_ip_c] [varchar](50) NULL,
	[aud_pc_host_c] [varchar](100) NULL,
	[aud_es_eli_b] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pk_prov_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipodocumento_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipodocumento_mae](
	[pk_tip_doc_id] [int] IDENTITY(1,1) NOT NULL,
	[cod_sis_pdr_old_c] [varchar](10) NULL,
	[cod_sis_old_c] [varchar](10) NULL,
	[cod_sunat_c] [varchar](20) NULL,
	[nom_c] [varchar](50) NOT NULL,
	[abrev_c] [varchar](10) NULL,
	[cant_dig_n] [smallint] NOT NULL,
	[estado_n] [smallint] NOT NULL,
	[aud_id_usu_cre_n] [int] NOT NULL,
	[aud_fec_cre_f] [datetime2](7) NOT NULL,
	[aud_id_usu_mod_n] [int] NOT NULL,
	[aud_fec_mod_f] [datetime2](7) NOT NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](20) NOT NULL,
	[aud_pc_host_c] [varchar](50) NOT NULL,
	[aud_es_eli_b] [bit] NOT NULL,
 CONSTRAINT [PK_TipoDocumento] PRIMARY KEY CLUSTERED 
(
	[pk_tip_doc_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sch_seguridad].[modulo_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sch_seguridad].[modulo_mae](
	[pk_mod_id] [int] IDENTITY(1,1) NOT NULL,
	[fk_mod_id] [int] NOT NULL,
	[nivel_n] [smallint] NOT NULL,
	[es_mod_hij_b] [bit] NOT NULL,
	[nombre_c] [varchar](50) NOT NULL,
	[nombre_obj_c] [varchar](50) NULL,
	[codigo_acc_dir_c] [varchar](20) NULL,
	[icono_c] [varchar](50) NULL,
	[url_c] [varchar](50) NOT NULL,
	[num_ord] [smallint] NULL,
	[es_visible_b] [bit] NOT NULL,
	[aud_id_usu_cre_n] [int] NOT NULL,
	[aud_fec_cre_f] [datetime2](7) NOT NULL,
	[aud_id_usu_mod_n] [int] NOT NULL,
	[aud_fec_mod_f] [datetime2](7) NOT NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](20) NOT NULL,
	[aud_pc_host_c] [varchar](50) NOT NULL,
	[aud_es_eli_b] [bit] NOT NULL,
 CONSTRAINT [PK_modulo_mov] PRIMARY KEY CLUSTERED 
(
	[pk_mod_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sch_seguridad].[perfil_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sch_seguridad].[perfil_mae](
	[pk_per_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_c] [varchar](100) NOT NULL,
	[descrip_c] [varchar](200) NULL,
	[aud_id_usu_cre_n] [int] NOT NULL,
	[aud_fec_cre_f] [datetime2](7) NOT NULL,
	[aud_id_usu_mod_n] [int] NOT NULL,
	[aud_fec_mod_f] [datetime2](7) NOT NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](20) NOT NULL,
	[aud_pc_host_c] [varchar](50) NOT NULL,
	[aud_es_eli_b] [bit] NOT NULL,
 CONSTRAINT [PK_perfil_mae] PRIMARY KEY CLUSTERED 
(
	[pk_per_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sch_seguridad].[perfil_modulo_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sch_seguridad].[perfil_modulo_mae](
	[pk_per_mod_id] [int] IDENTITY(1,1) NOT NULL,
	[fk_per_id] [int] NOT NULL,
	[fk_mod_id] [int] NOT NULL,
	[consultar_b] [bit] NULL,
	[crear_b] [bit] NULL,
	[modificar_b] [bit] NULL,
	[eliminar_b] [bit] NULL,
	[imprimir_b] [bit] NULL,
	[descargar_pdf_b] [bit] NULL,
	[descagar_excel_b] [bit] NULL,
	[aud_id_usu_cre_n] [int] NOT NULL,
	[aud_fec_cre_f] [datetime2](7) NOT NULL,
	[aud_id_usu_mod_n] [int] NOT NULL,
	[aud_fec_mod_f] [datetime2](7) NOT NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](20) NOT NULL,
	[aud_pc_host_c] [varchar](50) NOT NULL,
	[aud_es_eli_b] [bit] NOT NULL,
 CONSTRAINT [PK_perfil_modulo_mov] PRIMARY KEY CLUSTERED 
(
	[pk_per_mod_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sch_seguridad].[rol_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sch_seguridad].[rol_mae](
	[pk_rol_id] [int] IDENTITY(1,1) NOT NULL,
	[nom_rol_c] [varchar](100) NULL,
	[descrip_rol_c] [varchar](300) NULL,
	[tiene_detalle_b] [bit] NULL,
 CONSTRAINT [PK_rol_mae] PRIMARY KEY CLUSTERED 
(
	[pk_rol_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sch_seguridad].[rol_mod_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sch_seguridad].[rol_mod_mae](
	[pk_rol_mod_id] [int] IDENTITY(1,1) NOT NULL,
	[fk_rol_id] [int] NULL,
	[fk_mod_id] [int] NULL,
 CONSTRAINT [PK_rol_mod_mae] PRIMARY KEY CLUSTERED 
(
	[pk_rol_mod_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sch_seguridad].[rolmod_usuper_det_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sch_seguridad].[rolmod_usuper_det_mae](
	[pk_rolmod_usuper_det_id] [int] IDENTITY(1,1) NOT NULL,
	[fk_rolmod_usuper_id] [int] NULL,
	[id_det] [int] NULL,
	[aud_id_usu_cre_n] [int] NOT NULL,
	[aud_fec_cre_f] [datetime2](7) NOT NULL,
	[aud_id_usu_mod_n] [int] NOT NULL,
	[aud_fec_mod_f] [datetime2](7) NOT NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](20) NOT NULL,
	[aud_pc_host_c] [varchar](50) NOT NULL,
	[aud_es_eli_b] [bit] NOT NULL,
 CONSTRAINT [PK_rolmod_usuper_det_mae] PRIMARY KEY CLUSTERED 
(
	[pk_rolmod_usuper_det_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sch_seguridad].[rolmod_usuper_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sch_seguridad].[rolmod_usuper_mae](
	[pk_rolmod_usuper_id] [int] IDENTITY(1,1) NOT NULL,
	[fk_rol_mod_id] [int] NULL,
	[fk_usu_per_mod] [int] NULL,
	[aud_id_usu_cre_n] [int] NOT NULL,
	[aud_fec_cre_f] [datetime2](7) NOT NULL,
	[aud_id_usu_mod_n] [int] NOT NULL,
	[aud_fec_mod_f] [datetime2](7) NOT NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](20) NOT NULL,
	[aud_pc_host_c] [varchar](50) NOT NULL,
	[aud_es_eli_b] [bit] NOT NULL,
 CONSTRAINT [PK_rolmod_usuper_mae] PRIMARY KEY CLUSTERED 
(
	[pk_rolmod_usuper_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sch_seguridad].[usuario_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sch_seguridad].[usuario_mae](
	[pk_usu_id] [int] IDENTITY(1,1) NOT NULL,
	[fk_per_id] [int] NULL,
	[cod_sis_old_c] [varchar](50) NULL,
	[login_c] [varchar](100) NOT NULL,
	[clave_v] [varchar](100) NULL,
	[clave_nue_b] [bit] NOT NULL,
	[pri_ape_c] [varchar](50) NOT NULL,
	[seg_ape_c] [varchar](50) NOT NULL,
	[pre_nom_c] [varchar](50) NOT NULL,
	[num_doc_c] [varchar](10) NOT NULL,
	[fk_are_id] [int] NULL,
	[fk_cgo_id] [int] NULL,
	[correo_ins_c] [varchar](100) NULL,
	[estado_n] [smallint] NOT NULL,
	[aud_id_usu_cre_n] [int] NOT NULL,
	[aud_fec_cre_f] [datetime2](7) NOT NULL,
	[aud_id_usu_mod_n] [int] NOT NULL,
	[aud_fec_mod_f] [datetime2](7) NOT NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](20) NOT NULL,
	[aud_pc_host_c] [varchar](50) NOT NULL,
	[aud_es_eli_b] [bit] NOT NULL,
 CONSTRAINT [PK_usuario_mov] PRIMARY KEY CLUSTERED 
(
	[pk_usu_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sch_seguridad].[usuario_perfil_mov]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sch_seguridad].[usuario_perfil_mov](
	[pk_usu_per_mod] [int] IDENTITY(1,1) NOT NULL,
	[fk_usu_id] [int] NOT NULL,
	[fk_per_id] [int] NOT NULL,
	[aud_id_usu_cre_n] [int] NOT NULL,
	[aud_fec_cre_f] [datetime2](7) NOT NULL,
	[aud_id_usu_mod_n] [int] NOT NULL,
	[aud_fec_mod_f] [datetime2](7) NOT NULL,
	[aud_id_usu_eli_n] [int] NULL,
	[aud_fec_eli_f] [datetime2](7) NULL,
	[aud_pc_ip_c] [varchar](20) NOT NULL,
	[aud_pc_host_c] [varchar](50) NOT NULL,
	[aud_es_eli_b] [bit] NOT NULL,
 CONSTRAINT [PK_usuario_perfil_mov] PRIMARY KEY CLUSTERED 
(
	[pk_usu_per_mod] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_cliente_mae_documento]    Script Date: 09/11/2025 22:17:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_cliente_mae_documento] ON [dbo].[cliente_mae]
(
	[fk_tip_doc_id] ASC,
	[numero_documento] ASC
)
WHERE ([aud_es_eli_b]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_producto_mae_nombre]    Script Date: 09/11/2025 22:17:50 ******/
CREATE NONCLUSTERED INDEX [IX_producto_mae_nombre] ON [dbo].[producto_mae]
(
	[nombre_producto] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_proveedor_mae_nombre]    Script Date: 09/11/2025 22:17:50 ******/
CREATE NONCLUSTERED INDEX [IX_proveedor_mae_nombre] ON [dbo].[proveedor_mae]
(
	[nombre] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_proveedor_mae_ruc]    Script Date: 09/11/2025 22:17:50 ******/
CREATE NONCLUSTERED INDEX [IX_proveedor_mae_ruc] ON [dbo].[proveedor_mae]
(
	[ruc] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[area_mae] ADD  DEFAULT ((-1)) FOR [aud_id_usu_cre_n]
GO
ALTER TABLE [dbo].[area_mae] ADD  DEFAULT (getdate()) FOR [aud_fec_cre_f]
GO
ALTER TABLE [dbo].[area_mae] ADD  DEFAULT ((-1)) FOR [aud_id_usu_mod_n]
GO
ALTER TABLE [dbo].[area_mae] ADD  DEFAULT (getdate()) FOR [aud_fec_mod_f]
GO
ALTER TABLE [dbo].[area_mae] ADD  DEFAULT ('') FOR [aud_pc_ip_c]
GO
ALTER TABLE [dbo].[area_mae] ADD  DEFAULT ('') FOR [aud_pc_host_c]
GO
ALTER TABLE [dbo].[area_mae] ADD  DEFAULT ((0)) FOR [aud_es_eli_b]
GO
ALTER TABLE [dbo].[cargo_mae] ADD  DEFAULT ((-1)) FOR [aud_id_usu_cre_n]
GO
ALTER TABLE [dbo].[cargo_mae] ADD  DEFAULT (getdate()) FOR [aud_fec_cre_f]
GO
ALTER TABLE [dbo].[cargo_mae] ADD  DEFAULT ((-1)) FOR [aud_id_usu_mod_n]
GO
ALTER TABLE [dbo].[cargo_mae] ADD  DEFAULT (getdate()) FOR [aud_fec_mod_f]
GO
ALTER TABLE [dbo].[cargo_mae] ADD  DEFAULT ('') FOR [aud_pc_ip_c]
GO
ALTER TABLE [dbo].[cargo_mae] ADD  DEFAULT ('') FOR [aud_pc_host_c]
GO
ALTER TABLE [dbo].[cargo_mae] ADD  DEFAULT ((0)) FOR [aud_es_eli_b]
GO
ALTER TABLE [dbo].[cliente_mae] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[cliente_mae] ADD  DEFAULT (getdate()) FOR [aud_fec_cre_f]
GO
ALTER TABLE [dbo].[cliente_mae] ADD  DEFAULT (getdate()) FOR [aud_fec_mod_f]
GO
ALTER TABLE [dbo].[cliente_mae] ADD  DEFAULT ('') FOR [aud_pc_ip_c]
GO
ALTER TABLE [dbo].[cliente_mae] ADD  DEFAULT ('') FOR [aud_pc_host_c]
GO
ALTER TABLE [dbo].[cliente_mae] ADD  DEFAULT ((0)) FOR [aud_es_eli_b]
GO
ALTER TABLE [dbo].[cliente_perfil_mae] ADD  DEFAULT (getdate()) FOR [aud_fec_cre_f]
GO
ALTER TABLE [dbo].[cliente_perfil_mae] ADD  DEFAULT (getdate()) FOR [aud_fec_mod_f]
GO
ALTER TABLE [dbo].[cliente_perfil_mae] ADD  DEFAULT ('') FOR [aud_pc_ip_c]
GO
ALTER TABLE [dbo].[cliente_perfil_mae] ADD  DEFAULT ('') FOR [aud_pc_host_c]
GO
ALTER TABLE [dbo].[cliente_perfil_mae] ADD  DEFAULT ((0)) FOR [aud_es_eli_b]
GO
ALTER TABLE [dbo].[estado_mae] ADD  CONSTRAINT [DF__estado_ma__aud_i__7B5B524B]  DEFAULT ((-1)) FOR [aud_id_usu_cre_n]
GO
ALTER TABLE [dbo].[estado_mae] ADD  CONSTRAINT [DF__estado_ma__aud_f__7C4F7684]  DEFAULT (getdate()) FOR [aud_fec_cre_f]
GO
ALTER TABLE [dbo].[estado_mae] ADD  CONSTRAINT [DF__estado_ma__aud_i__7D439ABD]  DEFAULT ((-1)) FOR [aud_id_usu_mod_n]
GO
ALTER TABLE [dbo].[estado_mae] ADD  CONSTRAINT [DF__estado_ma__aud_f__7E37BEF6]  DEFAULT (getdate()) FOR [aud_fec_mod_f]
GO
ALTER TABLE [dbo].[estado_mae] ADD  CONSTRAINT [DF__estado_ma__aud_p__7F2BE32F]  DEFAULT ('') FOR [aud_pc_ip_c]
GO
ALTER TABLE [dbo].[estado_mae] ADD  CONSTRAINT [DF__estado_ma__aud_p__00200768]  DEFAULT ('') FOR [aud_pc_host_c]
GO
ALTER TABLE [dbo].[estado_mae] ADD  CONSTRAINT [DF__estado_ma__aud_e__01142BA1]  DEFAULT ((0)) FOR [aud_es_eli_b]
GO
ALTER TABLE [dbo].[producto_mae] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[producto_mae] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[producto_mae] ADD  DEFAULT ((0)) FOR [aud_es_eli_b]
GO
ALTER TABLE [dbo].[proveedor_mae] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[proveedor_mae] ADD  DEFAULT ((0)) FOR [aud_es_eli_b]
GO
ALTER TABLE [dbo].[tipodocumento_mae] ADD  DEFAULT ((-1)) FOR [aud_id_usu_cre_n]
GO
ALTER TABLE [dbo].[tipodocumento_mae] ADD  DEFAULT (getdate()) FOR [aud_fec_cre_f]
GO
ALTER TABLE [dbo].[tipodocumento_mae] ADD  DEFAULT ((-1)) FOR [aud_id_usu_mod_n]
GO
ALTER TABLE [dbo].[tipodocumento_mae] ADD  DEFAULT (getdate()) FOR [aud_fec_mod_f]
GO
ALTER TABLE [dbo].[tipodocumento_mae] ADD  DEFAULT ('') FOR [aud_pc_ip_c]
GO
ALTER TABLE [dbo].[tipodocumento_mae] ADD  DEFAULT ('') FOR [aud_pc_host_c]
GO
ALTER TABLE [dbo].[tipodocumento_mae] ADD  DEFAULT ((0)) FOR [aud_es_eli_b]
GO
ALTER TABLE [dbo].[cliente_mae]  WITH CHECK ADD  CONSTRAINT [FK_cliente_mae_tipodocumento_mae] FOREIGN KEY([fk_tip_doc_id])
REFERENCES [dbo].[tipodocumento_mae] ([pk_tip_doc_id])
GO
ALTER TABLE [dbo].[cliente_mae] CHECK CONSTRAINT [FK_cliente_mae_tipodocumento_mae]
GO
ALTER TABLE [dbo].[cliente_perfil_mae]  WITH CHECK ADD  CONSTRAINT [FK_cliente_perfil_mae_persona_mae] FOREIGN KEY([idPersona])
REFERENCES [dbo].[persona_mae] ([pk_per_id])
GO
ALTER TABLE [dbo].[cliente_perfil_mae] CHECK CONSTRAINT [FK_cliente_perfil_mae_persona_mae]
GO
ALTER TABLE [dbo].[cliente_perfil_mae]  WITH CHECK ADD  CONSTRAINT [FK_cliente_perfil_mae_usuario_mae] FOREIGN KEY([idUsuario])
REFERENCES [sch_seguridad].[usuario_mae] ([pk_usu_id])
GO
ALTER TABLE [dbo].[cliente_perfil_mae] CHECK CONSTRAINT [FK_cliente_perfil_mae_usuario_mae]
GO
ALTER TABLE [dbo].[detalle_compra]  WITH CHECK ADD FOREIGN KEY([compra_id])
REFERENCES [dbo].[compra] ([pk_com_id])
GO
ALTER TABLE [dbo].[detalle_compra]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[producto_mae] ([pk_prod_id])
GO
ALTER TABLE [dbo].[persona_mae]  WITH CHECK ADD  CONSTRAINT [FK_Persona_TipoDocumento] FOREIGN KEY([fk_tip_doc_id])
REFERENCES [dbo].[tipodocumento_mae] ([pk_tip_doc_id])
GO
ALTER TABLE [dbo].[persona_mae] CHECK CONSTRAINT [FK_Persona_TipoDocumento]
GO
ALTER TABLE [sch_seguridad].[perfil_modulo_mae]  WITH CHECK ADD  CONSTRAINT [FK_perfil_modulo_mae_modulo_mae] FOREIGN KEY([fk_mod_id])
REFERENCES [sch_seguridad].[modulo_mae] ([pk_mod_id])
GO
ALTER TABLE [sch_seguridad].[perfil_modulo_mae] CHECK CONSTRAINT [FK_perfil_modulo_mae_modulo_mae]
GO
ALTER TABLE [sch_seguridad].[perfil_modulo_mae]  WITH CHECK ADD  CONSTRAINT [FK_perfil_modulo_mae_perfil_mae] FOREIGN KEY([fk_per_id])
REFERENCES [sch_seguridad].[perfil_mae] ([pk_per_id])
GO
ALTER TABLE [sch_seguridad].[perfil_modulo_mae] CHECK CONSTRAINT [FK_perfil_modulo_mae_perfil_mae]
GO
ALTER TABLE [sch_seguridad].[usuario_mae]  WITH CHECK ADD  CONSTRAINT [FK_usuario_mae_cargo_mae] FOREIGN KEY([fk_cgo_id])
REFERENCES [dbo].[cargo_mae] ([pk_cgo_id])
GO
ALTER TABLE [sch_seguridad].[usuario_mae] CHECK CONSTRAINT [FK_usuario_mae_cargo_mae]
GO
ALTER TABLE [sch_seguridad].[usuario_mae]  WITH CHECK ADD  CONSTRAINT [FK_usuario_mae_Persona] FOREIGN KEY([fk_per_id])
REFERENCES [dbo].[persona_mae] ([pk_per_id])
GO
ALTER TABLE [sch_seguridad].[usuario_mae] CHECK CONSTRAINT [FK_usuario_mae_Persona]
GO
ALTER TABLE [sch_seguridad].[usuario_perfil_mov]  WITH CHECK ADD  CONSTRAINT [FK_usuario_perfil_mov_perfil_mae] FOREIGN KEY([fk_per_id])
REFERENCES [sch_seguridad].[perfil_mae] ([pk_per_id])
GO
ALTER TABLE [sch_seguridad].[usuario_perfil_mov] CHECK CONSTRAINT [FK_usuario_perfil_mov_perfil_mae]
GO
ALTER TABLE [sch_seguridad].[usuario_perfil_mov]  WITH CHECK ADD  CONSTRAINT [FK_usuario_perfil_mov_usuario_mae] FOREIGN KEY([fk_usu_id])
REFERENCES [sch_seguridad].[usuario_mae] ([pk_usu_id])
GO
ALTER TABLE [sch_seguridad].[usuario_perfil_mov] CHECK CONSTRAINT [FK_usuario_perfil_mov_usuario_mae]
GO
/****** Object:  StoredProcedure [dbo].[usp_cliente_perfil_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_cliente_perfil_mae]
@idUsuario int
AS
	SELECT 
		c.idClientePerfil,
		c.idUsuario,
		c.idPersona,
		RTRIM(p.pre_nom_c) as perfil
	FROM 
		cliente_perfil_mae c
		INNER JOIN persona_mae p ON c.idPersona=p.pk_per_id
	WHERE 
		idUsuario=@idUsuario
GO
/****** Object:  StoredProcedure [dbo].[usp_registro_cliente]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_registro_cliente]
@idPersona int,
@clave varchar(100)
as
declare @idUsuario int
declare @idPerfilCliente int

insert into [sch_seguridad].[usuario_mae]
select pk_per_id,'',correo_per_c,@clave,0,pri_ape_c,seg_ape_c,pre_nom_c,num_doc_c,3,1,correo_per_c,1,aud_id_usu_cre_n,aud_fec_cre_f,aud_id_usu_mod_n,aud_fec_mod_f,
null,null,isnull(aud_pc_ip_c,''),isnull(aud_pc_host_c,''),aud_es_eli_b
from [dbo].[persona_mae] where pk_per_id=@idPersona

set @idUsuario=@@IDENTITY

set @idPerfilCliente=(select pk_per_id from [sch_seguridad].[perfil_mae] where nombre_c='Cliente')

insert into [sch_seguridad].[usuario_perfil_mov] values(@idUsuario,@idPerfilCliente,@idUsuario,getdate(),@idUsuario,getdate(),null,null,'','',0)
insert into cliente_perfil_mae values(@idUsuario,@idPersona,@idUsuario,getdate(),@idUsuario,getdate(),null,null,'','',0)
GO
/****** Object:  StoredProcedure [dbo].[usp_registro_perfil_cliente]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_registro_perfil_cliente]
@idPersona int,
@idUsuario int
as
insert into cliente_perfil_mae values(@idUsuario,@idPersona,@idUsuario,getdate(),@idUsuario,getdate(),null,null,'','',0)
GO
/****** Object:  StoredProcedure [sch_seguridad].[usp_modulo_mae_list]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sch_seguridad].[usp_modulo_mae_list]
	@p_accion_c varchar(3)='lst',
	@p_opcion_c varchar(100)='lst_grilla_recursivo'	
AS

DECLARE @v_fecha_hoy_f datetime2=getdate()

IF @p_accion_c='lst' BEGIN

	IF @p_opcion_c='lst_grilla_recursivo' BEGIN	

		WITH cteRecursivo AS (
			SELECT
				pk_mod_id ,				
				fk_mod_id,			
				CAST( CAST(nombre_c AS VARCHAR(8000)) AS varchar(8000)) AS nom_mod_pdr,	
				nombre_c,
				es_mod_hij_b,
				ISNULL(nombre_obj_c,'') as nombre_obj_c,
				codigo_acc_dir_c,
				icono_c,
				url_c,
				num_ord,
				es_visible_b,				
				aud_fec_mod_f,
				aud_es_eli_b,
				1 as nivel		
			FROM
				sch_seguridad.modulo_mae
			WHERE
				aud_es_eli_b=0			
				AND (fk_mod_id IS NULL OR fk_mod_id<1)
			UNION ALL

			SELECT
				hijo.pk_mod_id ,				
				hijo.fk_mod_id,		
				CAST(CR.nom_mod_pdr + '/' + CAST(HIJO.nombre_c AS VARCHAR(8000)) AS varchar(8000)) AS nom_mod_pdr,
				hijo.nombre_c,
				hijo.es_mod_hij_b,
				ISNULL(hijo.nombre_obj_c,'') as nombre_obj_c,
				hijo.codigo_acc_dir_c,
				hijo.icono_c,
				hijo.url_c,
				hijo.num_ord,
				hijo.es_visible_b,				
				hijo.aud_fec_mod_f,
				hijo.aud_es_eli_b,
				cr.nivel + 1		
			FROM
				sch_seguridad.modulo_mae AS HIJO
				INNER JOIN cteRecursivo AS CR ON CR.pk_mod_id = HIJO.fk_mod_id				
			WHERE 
				hijo.aud_es_eli_b=0					
		)

		SELECT 
			*			
		FROM 
			cteRecursivo as m			
		WHERE
			m.aud_es_eli_b=0			
		ORDER BY 
			nivel

	END	
END
GO
/****** Object:  StoredProcedure [sch_seguridad].[usp_rol_usuario_det_list]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sch_seguridad].[usp_rol_usuario_det_list]
@pk_rol_id int=1,
@fk_rolmod_usuper_id int=1
AS
-- Roles diferentes que pueden tener detalles
IF @pk_rol_id=1 BEGIN
	-- Para productos o elementos bÃ¡sicos, devolver datos simulados si no existe la tabla
	SELECT 
		1 as idUsuarioRolDet,
		'OpciÃ³n BÃ¡sica' as descOpcion,
		0 as sel
END

IF @pk_rol_id=2 BEGIN
	-- Rol de areas
	SELECT 
		a.pk_are_id as idUsuarioRolDet,
		a.nom_c as descOpcion,
		(CASE WHEN ISNULL(rmu.pk_rolmod_usuper_det_id,0)=0 THEN 0 ELSE 1 END) as sel
	FROM
		area_mae a
		LEFT JOIN [sch_seguridad].rolmod_usuper_det_mae rmu ON a.pk_are_id=rmu.id_det
			AND rmu.fk_rolmod_usuper_id=@fk_rolmod_usuper_id AND rmu.aud_es_eli_b=0
	WHERE 
		a.aud_es_eli_b=0
	ORDER BY nom_c
END
GO
/****** Object:  StoredProcedure [sch_seguridad].[usp_rol_usuario_list]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sch_seguridad].[usp_rol_usuario_list]
@pk_usu_id int=3
AS
DECLARE @table_modulo table(pk_mod_id int)
DECLARE @table_rolmodulo table(pk_rol_mod_id int)

SELECT DISTINCT
	rm.pk_rol_mod_id as idRolModulo,
	p.nombre_c as descPerfil,
	up.pk_usu_per_mod as idUsuarioPerfil,
	u.login_c,
	r.pk_rol_id as idRol,
	r.nom_rol_c as nombreRol,
	r.descrip_rol_c as descripRol,
	m.nombre_c as nombreModulo,
	ISNULL(rmu.pk_rolmod_usuper_id,0) as idUsuarioRol,
	CONVERT(bit,(CASE WHEN (ISNULL(rmu.pk_rolmod_usuper_id,0))=0 THEN 0 ELSE 1 END)) as sel,
	tiene_detalle_b tiene_detalle
FROM
	[sch_seguridad].rol_mod_mae rm
	INNER JOIN [sch_seguridad].[modulo_mae] m ON rm.fk_mod_id=m.pk_mod_id
	INNER JOIN [sch_seguridad].[perfil_modulo_mae] pm ON pm.fk_mod_id=m.pk_mod_id AND pm.aud_es_eli_b=0
	INNER JOIN [sch_seguridad].[perfil_mae] p ON pm.fk_per_id=p.pk_per_id
	INNER JOIN [sch_seguridad].[usuario_perfil_mov] up ON p.pk_per_id=up.fk_per_id AND up.aud_es_eli_b=0
	INNER JOIN [sch_seguridad].[usuario_mae] u ON u.pk_usu_id=up.fk_usu_id
	INNER JOIN [sch_seguridad].rol_mae r ON rm.fk_rol_id=r.pk_rol_id
	LEFT JOIN [sch_seguridad].rolmod_usuper_mae rmu ON rmu.fk_rol_mod_id=rm.pk_rol_mod_id 
		AND rmu.fk_usu_per_mod=up.pk_usu_per_mod AND rmu.aud_es_eli_b=0
WHERE
	u.pk_usu_id=@pk_usu_id
GO
/****** Object:  StoredProcedure [sch_seguridad].[usp_rolmod_usuper_det_mant]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sch_seguridad].[usp_rolmod_usuper_det_mant]
@p_opcion_c varchar(100)='lst_mant',
@fk_rolmod_usuper_id int=0,
@id_det int=0,
@sel bit,
@p_aud_pc_ip_c varchar(50)='',
@p_aud_pc_host_c varchar(50)='',
@p_id_usu_login_n int=-1
AS 
SET @sel=(CASE WHEN @sel=1 THEN 0 ELSE 1 END)

IF @p_opcion_c='ins_mant' BEGIN
   IF NOT EXISTS(SELECT pk_rolmod_usuper_det_id FROM [sch_seguridad].[rolmod_usuper_det_mae] WHERE fk_rolmod_usuper_id=@fk_rolmod_usuper_id AND id_det=@id_det)
   BEGIN
	INSERT INTO [sch_seguridad].[rolmod_usuper_det_mae] (
		fk_rolmod_usuper_id,
		id_det,
		aud_id_usu_cre_n,
		aud_fec_cre_f,		
		aud_id_usu_mod_n,
		aud_fec_mod_f,		
		aud_pc_ip_c,
		aud_pc_host_c,
		aud_es_eli_b
	)VALUES(
		@fk_rolmod_usuper_id,
		@id_det,
		@p_id_usu_login_n,
		getdate(),
		@p_id_usu_login_n,
		getdate(),
		@p_aud_pc_ip_c,
		@p_aud_pc_host_c,
		@sel
	)
		SELECT @@IDENTITY
	END
	ELSE
	BEGIN
		UPDATE [sch_seguridad].[rolmod_usuper_det_mae] SET
			aud_id_usu_eli_n=@p_id_usu_login_n, 
			aud_fec_eli_f=getdate(), 
			aud_pc_ip_c=@p_aud_pc_ip_c, 
			aud_pc_host_c=@p_aud_pc_host_c,
			aud_es_eli_b=@sel
		WHERE 
			fk_rolmod_usuper_id=@fk_rolmod_usuper_id 
			AND id_det=@id_det

		SELECT @id_det
	END
END
GO
/****** Object:  StoredProcedure [sch_seguridad].[usp_rolmod_usuper_mae_mant]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sch_seguridad].[usp_rolmod_usuper_mae_mant]
@p_opcion_c varchar(100)='lst_mant',
@pk_rolmod_usuper_id int=0,
@fk_rol_mod_id int=0,
@fk_usu_per_mod int=0,
@sel bit,
@p_aud_pc_ip_c varchar(50)='',
@p_aud_pc_host_c varchar(50)='',
@p_id_usu_login_n int=-1
AS
SET @sel=(CASE WHEN @sel=1 THEN 0 ELSE 1 END)

IF @p_opcion_c='ins_mant' BEGIN
   IF NOT EXISTS(SELECT pk_rolmod_usuper_id FROM [sch_seguridad].[rolmod_usuper_mae] WHERE fk_rol_mod_id=@fk_rol_mod_id AND fk_usu_per_mod=@fk_usu_per_mod)
   BEGIN
	INSERT INTO [sch_seguridad].[rolmod_usuper_mae] (
		fk_rol_mod_id,
		fk_usu_per_mod,
		aud_id_usu_cre_n,
		aud_fec_cre_f,		
		aud_id_usu_mod_n,
		aud_fec_mod_f,	
		aud_pc_ip_c,
		aud_pc_host_c,
		aud_es_eli_b
	)VALUES(
		@fk_rol_mod_id,
		@fk_usu_per_mod,
		@p_id_usu_login_n,
		getdate(),
		@p_id_usu_login_n,
		getdate(),
		@p_aud_pc_ip_c,
		@p_aud_pc_host_c,
		@sel
	)
		SELECT @@IDENTITY
	END
	ELSE
	BEGIN
		UPDATE [sch_seguridad].[rolmod_usuper_mae] SET
			aud_id_usu_eli_n=@p_id_usu_login_n, 
			aud_fec_eli_f=getdate(), 
			aud_pc_ip_c=@p_aud_pc_ip_c, 
			aud_pc_host_c=@p_aud_pc_host_c,
			aud_es_eli_b=@sel
		WHERE 
			fk_rol_mod_id=@fk_rol_mod_id AND fk_usu_per_mod=@fk_usu_per_mod

		IF @sel=1
		BEGIN
			SET @pk_rolmod_usuper_id=(SELECT pk_rolmod_usuper_id FROM [sch_seguridad].[rolmod_usuper_mae] WHERE fk_rol_mod_id=@fk_rol_mod_id AND fk_usu_per_mod=@fk_usu_per_mod)
			UPDATE [sch_seguridad].[rolmod_usuper_det_mae] SET
				aud_id_usu_eli_n=@p_id_usu_login_n, 
				aud_fec_eli_f=getdate(), 
				aud_pc_ip_c=@p_aud_pc_ip_c, 
				aud_pc_host_c=@p_aud_pc_host_c,
				aud_es_eli_b=@sel
			WHERE 
				fk_rolmod_usuper_id=@pk_rolmod_usuper_id
		END

		SELECT pk_rolmod_usuper_id FROM [sch_seguridad].[rolmod_usuper_mae] WHERE fk_rol_mod_id=@fk_rol_mod_id AND fk_usu_per_mod=@fk_usu_per_mod
	END
END

IF @p_opcion_c='del_mant' BEGIN		
	UPDATE [sch_seguridad].[rolmod_usuper_mae] SET
		aud_id_usu_eli_n=@p_id_usu_login_n, 
		aud_fec_eli_f=getdate(), 
		aud_pc_ip_c=@p_aud_pc_ip_c, 
		aud_pc_host_c=@p_aud_pc_host_c,
		aud_es_eli_b=@sel
	WHERE 
		pk_rolmod_usuper_id=@pk_rolmod_usuper_id
END
GO
/****** Object:  StoredProcedure [sch_seguridad].[usp_usuario_mae]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [sch_seguridad].[usp_usuario_mae]
	@p_accion_c varchar(3)='lst',
	@p_opcion_c varchar(100)='lst_mant',
	@p_pk_usu_id int=-1,
	@p_fk_per_id int=-1,
	@p_login_c varchar(50)='',
	@p_clave_v varbinary(256)=0x,
	@p_clave_nue_b bit=1,
	@p_pri_ape_c varchar(50)='',
	@p_seg_ape_c varchar(50)='',
	@p_pre_nom_c varchar(50)='',
	@p_num_doc_c varchar(20)='',
	@p_fk_are_id int=-1,
	@p_fk_cgo_id int=-1,
	@p_correo_ins_c varchar(50)='',
	@p_estado_n smallint=-1,
	@p_aud_pc_ip_c varchar(50)='',
	@p_aud_pc_host_c varchar(50)='',
	@p_id_usu_login_n int=-1,
	@p_sal_n_out int =-1 out
as

declare @v_fecha_hoy_f datetime2=getdate()

if @p_accion_c='lst' begin
	if @p_opcion_c='lst_mant' begin
		select 
			u.pk_usu_id,
			u.fk_per_id,
			u.login_c,
			u.clave_v,
			u.clave_nue_b,
			u.pri_ape_c,
			u.seg_ape_c,
			u.pre_nom_c,
			u.num_doc_c,
			u.fk_are_id,
			a.nom_c as area_nom,
			u.fk_cgo_id,
			c.nom_c as cargo_nom,
			u.correo_ins_c,
			u.estado_n			
		from 
			[sch_seguridad].[usuario_mae] as u
			left join area_mae as a on u.fk_are_id =a.pk_are_id
			left join cargo_mae as c on u.fk_cgo_id =c.pk_cgo_id
		where 
			u.aud_es_eli_b=0
			and (u.pk_usu_id=@p_pk_usu_id or @p_pk_usu_id=-1)
	end 

	if @p_opcion_c='lst_usuario_modulo' begin
			
		select pk_per_mod_id,fk_mod_id,fk_per_id into #tmp_lista_modulo from [sch_seguridad].perfil_modulo_mae 
		where 
		aud_es_eli_b =0
		and consultar_b=1
		and fk_per_id in (	select fk_per_id from [sch_seguridad].usuario_perfil_mov 
							where aud_es_eli_b =0 
							and  fk_usu_id=@p_pk_usu_id)
		select 
			pk_mod_id,
			fk_mod_id,
			'' as nom_mod_pdr,
			nivel_n,
			es_mod_hij_b,
			nombre_c,
			nombre_obj_c,
			codigo_acc_dir_c,
			icono_c,
			url_c,
			num_ord			
		from 
			sch_seguridad.modulo_mae
		where 
			aud_es_eli_b =0
			and pk_mod_id in (select fk_mod_id from #tmp_lista_modulo)
		order by 
			fk_mod_id asc

		select 			
			fk_mod_id,
			consultar_b,
			crear_b,
			modificar_b,
			eliminar_b,
			imprimir_b,
			descargar_pdf_b,
			descagar_excel_b
		from 
			sch_seguridad.perfil_modulo_mae
		where 
			aud_es_eli_b =0
			and pk_per_mod_id in (select pk_per_mod_id from #tmp_lista_modulo)
			and consultar_b=1		

		drop table #tmp_lista_modulo
	end 

end

if @p_accion_c='ins' begin
	if @p_opcion_c='ins_mant' begin
		insert into [sch_seguridad].[usuario_mae] (
		fk_per_id,
		login_c,
		clave_v,
		clave_nue_b,
		pri_ape_c,
		seg_ape_c,
		pre_nom_c,
		num_doc_c,
		fk_are_id,
		fk_cgo_id,
		correo_ins_c,
		estado_n,
		aud_id_usu_cre_n,
		aud_fec_cre_f,
		aud_id_usu_mod_n,
		aud_fec_mod_f,
		aud_pc_ip_c,
		aud_pc_host_c,
		aud_es_eli_b
		) values (
		@p_fk_per_id,
		@p_login_c,
		@p_clave_v,		
		@p_clave_nue_b,
		@p_pri_ape_c,
		@p_seg_ape_c,
		@p_pre_nom_c,
		@p_num_doc_c,
		@p_fk_are_id,
		@p_fk_cgo_id,
		@p_correo_ins_c,
		@p_estado_n,
		@p_id_usu_login_n,
		@v_fecha_hoy_f,
		@p_id_usu_login_n,
		@v_fecha_hoy_f,
		@p_aud_pc_ip_c,
		@p_aud_pc_host_c,
		0--eliminado
		)
	
		set @p_pk_usu_id=@@IDENTITY
		set @p_sal_n_out=@p_pk_usu_id
	end
end

if @p_accion_c='upd' begin
	if @p_opcion_c='upd_mant' begin		
		update [sch_seguridad].[usuario_mae] set
		login_c=@p_login_c,
		fk_are_id=@p_fk_are_id,
		fk_cgo_id=@p_fk_cgo_id,
		correo_ins_c=@p_correo_ins_c, 
		estado_n=@p_estado_n, 
		aud_id_usu_mod_n=@p_id_usu_login_n, 
		aud_fec_mod_f=@v_fecha_hoy_f, 
		aud_pc_ip_c=@p_aud_pc_ip_c, 
		aud_pc_host_c=@p_aud_pc_host_c 
		where 
		pk_usu_id=@p_pk_usu_id
			
		set @p_sal_n_out=@p_pk_usu_id
	end

	if @p_opcion_c='upd_cambiar_clave'  begin		
		update [sch_seguridad].[usuario_mae] set    
		clave_v=@p_clave_v,
		clave_nue_b=@p_clave_nue_b,
		aud_id_usu_mod_n=@p_id_usu_login_n, 
		aud_fec_mod_f=@v_fecha_hoy_f, 
		aud_pc_ip_c=@p_aud_pc_ip_c, 
		aud_pc_host_c=@p_aud_pc_host_c 
		where 
		pk_usu_id=@p_pk_usu_id
			
		set @p_sal_n_out=@p_pk_usu_id
	end
end

if @p_accion_c='del' begin
	if @p_opcion_c='del_mant' begin		
		update [sch_seguridad].[usuario_mae] set        
		aud_id_usu_eli_n=@p_id_usu_login_n, 
		aud_fec_eli_f=@v_fecha_hoy_f, 
		aud_pc_ip_c=@p_aud_pc_ip_c, 
		aud_pc_host_c=@p_aud_pc_host_c,
		aud_es_eli_b=1
		where 
		pk_usu_id=@p_pk_usu_id
				
		set @p_sal_n_out=@p_pk_usu_id
	end
end
GO
/****** Object:  StoredProcedure [sch_seguridad].[usp_usuario_mae_mant]    Script Date: 09/11/2025 22:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sch_seguridad].[usp_usuario_mae_mant]
	@p_accion_c varchar(3)='lst',
	@p_opcion_c varchar(100)='lst_mant',
	@p_pk_usu_id int=-1,
	@p_fk_per_id int=-1,
	@p_login_c varchar(100)='',
	@p_clave_v varchar(100)='',
	@p_clave_nue_b bit=1,
	@p_pri_ape_c varchar(50)='',
	@p_seg_ape_c varchar(50)='',
	@p_pre_nom_c varchar(50)='',
	@p_num_doc_c varchar(20)='',
	@p_fk_are_id int=-1,
	@p_fk_cgo_id int=-1,
	@p_correo_ins_c varchar(100)='',
	@p_estado_n smallint=-1,
	@p_aud_pc_ip_c varchar(50)='',
	@p_aud_pc_host_c varchar(50)='',
	@p_id_usu_login_n int=-1,
	@p_sal_n_out int =-1 out
AS

DECLARE @v_fecha_hoy_f datetime2=getdate()

IF @p_accion_c='lst' BEGIN
	IF @p_opcion_c='lst_mant' BEGIN
		SELECT 
			u.pk_usu_id,
			u.fk_per_id,
			u.login_c,
			u.clave_v,
			u.clave_nue_b,
			u.pri_ape_c,
			u.seg_ape_c,
			u.pre_nom_c,
			u.num_doc_c,
			u.fk_are_id,
			ISNULL(a.nom_c,'') as area_nom,
			u.fk_cgo_id,
			ISNULL(c.nom_c,'') as cargo_nom,
			u.correo_ins_c,
			u.estado_n,
			(SELECT TOP 1 idClientePerfil FROM cliente_perfil_mae WHERE idUsuario=@p_pk_usu_id AND aud_es_eli_b=0 GROUP BY idClientePerfil) as idClientePerfil,
			p.pre_nom_c as clientePerfil,
			p.codigo_merchant,
			(SELECT fk_per_id FROM [sch_seguridad].[usuario_perfil_mov] WHERE fk_usu_id=u.pk_usu_id AND aud_es_eli_b=0) as idPerfil
		FROM 
			[sch_seguridad].[usuario_mae] as u
			LEFT JOIN area_mae as a ON u.fk_are_id =a.pk_are_id
			LEFT JOIN cargo_mae as c ON u.fk_cgo_id =c.pk_cgo_id
			INNER JOIN persona_mae p ON u.fk_per_id=p.pk_per_id
		WHERE 
			u.aud_es_eli_b=0
			AND (u.pk_usu_id=@p_pk_usu_id OR @p_pk_usu_id=-1)
	END 
	
	IF @p_opcion_c='lst_usuario_modulo' BEGIN
		SELECT pk_per_mod_id,fk_mod_id,fk_per_id INTO #tmp_lista_modulo FROM [sch_seguridad].perfil_modulo_mae 
		WHERE 
		aud_es_eli_b =0
		AND consultar_b=1
		AND fk_per_id IN (	SELECT fk_per_id FROM [sch_seguridad].usuario_perfil_mov 
							WHERE aud_es_eli_b =0 
							AND  fk_usu_id=@p_pk_usu_id)
		
		SELECT 
			pk_mod_id,
			fk_mod_id,
			'' as nom_mod_pdr,
			nivel_n,
			es_mod_hij_b,
			nombre_c,
			nombre_obj_c,
			codigo_acc_dir_c,
			icono_c,
			url_c,
			num_ord			
		FROM 
			sch_seguridad.modulo_mae
		WHERE 
			aud_es_eli_b =0
			AND pk_mod_id IN (SELECT fk_mod_id FROM #tmp_lista_modulo)
		ORDER BY 
			fk_mod_id ASC

		SELECT 			
			fk_mod_id,
			consultar_b,
			crear_b,
			modificar_b,
			eliminar_b,
			imprimir_b,
			descargar_pdf_b,
			descagar_excel_b
		FROM 
			sch_seguridad.perfil_modulo_mae
		WHERE 
			aud_es_eli_b =0
			AND pk_per_mod_id IN (SELECT pk_per_mod_id FROM #tmp_lista_modulo)
			AND consultar_b=1		

		DROP TABLE #tmp_lista_modulo
	END 
END

IF @p_accion_c='ins' BEGIN
	IF @p_opcion_c='ins_mant' BEGIN
		INSERT INTO [sch_seguridad].[usuario_mae] (
		fk_per_id,
		login_c,
		clave_v,
		clave_nue_b,
		pri_ape_c,
		seg_ape_c,
		pre_nom_c,
		num_doc_c,
		fk_are_id,
		fk_cgo_id,
		correo_ins_c,
		estado_n,
		aud_id_usu_cre_n,
		aud_fec_cre_f,
		aud_id_usu_mod_n,
		aud_fec_mod_f,
		aud_pc_ip_c,
		aud_pc_host_c,
		aud_es_eli_b
		) VALUES (
		@p_fk_per_id,
		@p_login_c,
		@p_clave_v,		
		@p_clave_nue_b,
		@p_pri_ape_c,
		@p_seg_ape_c,
		@p_pre_nom_c,
		@p_num_doc_c,
		@p_fk_are_id,
		@p_fk_cgo_id,
		@p_correo_ins_c,
		@p_estado_n,
		@p_id_usu_login_n,
		@v_fecha_hoy_f,
		@p_id_usu_login_n,
		@v_fecha_hoy_f,
		@p_aud_pc_ip_c,
		@p_aud_pc_host_c,
		0--eliminado
		)
	
		SET @p_pk_usu_id=@@IDENTITY
		SET @p_sal_n_out=@p_pk_usu_id
	END
END

IF @p_accion_c='upd' BEGIN
	IF @p_opcion_c='upd_mant' BEGIN		
		UPDATE [sch_seguridad].[usuario_mae] SET
		fk_are_id=@p_fk_are_id,
		fk_cgo_id=@p_fk_cgo_id,
		correo_ins_c=@p_correo_ins_c, 
		estado_n=@p_estado_n, 
		aud_id_usu_mod_n=@p_id_usu_login_n, 
		aud_fec_mod_f=@v_fecha_hoy_f, 
		aud_pc_ip_c=@p_aud_pc_ip_c, 
		aud_pc_host_c=@p_aud_pc_host_c 
		WHERE 
		pk_usu_id=@p_pk_usu_id
			
		SET @p_sal_n_out=@p_pk_usu_id
	END

	IF @p_opcion_c='upd_cambiar_clave'  BEGIN		
		UPDATE [sch_seguridad].[usuario_mae] SET    
		clave_v=@p_clave_v,
		clave_nue_b=@p_clave_nue_b,
		aud_id_usu_mod_n=@p_id_usu_login_n, 
		aud_fec_mod_f=@v_fecha_hoy_f, 
		aud_pc_ip_c=@p_aud_pc_ip_c, 
		aud_pc_host_c=@p_aud_pc_host_c 
		WHERE 
		pk_usu_id=@p_pk_usu_id
			
		SET @p_sal_n_out=@p_pk_usu_id
	END
END

IF @p_accion_c='del' BEGIN
	IF @p_opcion_c='del_mant' BEGIN		
		UPDATE [sch_seguridad].[usuario_mae] SET        
		aud_id_usu_eli_n=@p_id_usu_login_n, 
		aud_fec_eli_f=@v_fecha_hoy_f, 
		aud_pc_ip_c=@p_aud_pc_ip_c, 
		aud_pc_host_c=@p_aud_pc_host_c,
		aud_es_eli_b=1
		WHERE 
		pk_usu_id=@p_pk_usu_id
				
		SET @p_sal_n_out=@p_pk_usu_id
	END
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'pk de la tabla' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'persona_mae', @level2type=N'COLUMN',@level2name=N'pk_per_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'tipo persona, 1=usuario de la empresa, 2=?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'persona_mae', @level2type=N'COLUMN',@level2name=N'tip_per_id_n'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'pk de la tabla tipo documento' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'persona_mae', @level2type=N'COLUMN',@level2name=N'fk_tip_doc_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'numero documento' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'persona_mae', @level2type=N'COLUMN',@level2name=N'num_doc_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'primer apellido' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'persona_mae', @level2type=N'COLUMN',@level2name=N'pri_ape_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'segundo apellido' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'persona_mae', @level2type=N'COLUMN',@level2name=N'seg_ape_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'pre nombres' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'persona_mae', @level2type=N'COLUMN',@level2name=N'pre_nom_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'fecha de nacimiento' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'persona_mae', @level2type=N'COLUMN',@level2name=N'fec_nac_f'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'sexo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'persona_mae', @level2type=N'COLUMN',@level2name=N'sexo_b'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'correo personal' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'persona_mae', @level2type=N'COLUMN',@level2name=N'correo_per_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'pk de la tabla' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tipodocumento_mae', @level2type=N'COLUMN',@level2name=N'pk_tip_doc_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'codigo sistema antiguo padre' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tipodocumento_mae', @level2type=N'COLUMN',@level2name=N'cod_sis_pdr_old_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'codigo sistema antiguo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tipodocumento_mae', @level2type=N'COLUMN',@level2name=N'cod_sis_old_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'codigo sunat' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tipodocumento_mae', @level2type=N'COLUMN',@level2name=N'cod_sunat_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'nombre' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tipodocumento_mae', @level2type=N'COLUMN',@level2name=N'nom_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'abreviatura' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tipodocumento_mae', @level2type=N'COLUMN',@level2name=N'abrev_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'cantidad de digitos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tipodocumento_mae', @level2type=N'COLUMN',@level2name=N'cant_dig_n'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'pk de la tabla' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'modulo_mae', @level2type=N'COLUMN',@level2name=N'pk_mod_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'pk de la tabla modulo_mae' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'modulo_mae', @level2type=N'COLUMN',@level2name=N'fk_mod_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'nivel' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'modulo_mae', @level2type=N'COLUMN',@level2name=N'nivel_n'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Es sistema/modulo/menu hijo' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'modulo_mae', @level2type=N'COLUMN',@level2name=N'es_mod_hij_b'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'nombre del sistema/modulo/menu' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'modulo_mae', @level2type=N'COLUMN',@level2name=N'nombre_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'nombre del objeto' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'modulo_mae', @level2type=N'COLUMN',@level2name=N'nombre_obj_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'codigo de acceso directo' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'modulo_mae', @level2type=N'COLUMN',@level2name=N'codigo_acc_dir_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'icono del sistema/modulo/menu' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'modulo_mae', @level2type=N'COLUMN',@level2name=N'icono_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'url del sistema/modulo/menu' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'modulo_mae', @level2type=N'COLUMN',@level2name=N'url_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'numero de orden del sistema/modulo/menu' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'modulo_mae', @level2type=N'COLUMN',@level2name=N'num_ord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'es visible ' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'modulo_mae', @level2type=N'COLUMN',@level2name=N'es_visible_b'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'pk de la tabla' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'usuario_mae', @level2type=N'COLUMN',@level2name=N'pk_usu_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'fk de la tabla trabajador' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'usuario_mae', @level2type=N'COLUMN',@level2name=N'fk_per_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'login de usuario' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'usuario_mae', @level2type=N'COLUMN',@level2name=N'login_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'clave del usuario' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'usuario_mae', @level2type=N'COLUMN',@level2name=N'clave_v'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'es clave nueva o restaurada' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'usuario_mae', @level2type=N'COLUMN',@level2name=N'clave_nue_b'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'primer apellido' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'usuario_mae', @level2type=N'COLUMN',@level2name=N'pri_ape_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'segundo apellido' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'usuario_mae', @level2type=N'COLUMN',@level2name=N'seg_ape_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'pre nombres' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'usuario_mae', @level2type=N'COLUMN',@level2name=N'pre_nom_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'numero de documento ' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'usuario_mae', @level2type=N'COLUMN',@level2name=N'num_doc_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'fk de la tabla area' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'usuario_mae', @level2type=N'COLUMN',@level2name=N'fk_are_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'cargo nombre' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'usuario_mae', @level2type=N'COLUMN',@level2name=N'fk_cgo_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'correo institucional' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'usuario_mae', @level2type=N'COLUMN',@level2name=N'correo_ins_c'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'esatdo, 0=inactivo,1=activo' , @level0type=N'SCHEMA',@level0name=N'sch_seguridad', @level1type=N'TABLE',@level1name=N'usuario_mae', @level2type=N'COLUMN',@level2name=N'estado_n'
GO
